/* style.css */

@media screen and (max-width: 578px) {
  header {
    background: rgba(10, 10, 10, 0.8);
    /* padding: 10px !important; */
  }
}

.my-text-light {
  color: #98daf1;
}

.my-text-dark {
  color: #0b3d91;
}

#main-title {
  width: 100%;
  height: 100vh;
  background: #ccc;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0)
    ),
    url(../images/main-title-bg1.jpg);
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main-title .title {
  height: calc(100% - 90px);
}

#main-title .title p {
  font-size: 20px;
  word-break: keep-all;
}

/* community */

#community {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0)),
    url(../images/main-content-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

#community a {
  width: 100%;
  height: 100%;
  position: relative;
}

#community a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#community a h4 {
  width: 100%;
  height: 50px;
  background: rgba(11, 61, 145, 0.8);
  word-break: keep-all;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
